header {
    background: #6200EE;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}


.search {
    display: flex;
}

.search input {
    width: 13em;
    margin-right: 5px;
}



@media (max-width: 500px) {
    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 15px;
        font-weight: 200;
    }

    .search {
        margin-top: 5px;
    }
    .search input {
        width: 100vw;
        margin-right: 5px;
    }
}


