header {
    background: #6200EE;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}


.search {
    display: flex;
}

.search input {
    width: 13em;
    margin-right: 5px;
}


@media (max-width: 640px) {
    header h1 {
        font-size: 15px;
    }
    .search input {
        width: 10em;
    }
}

@media (max-width: 500px) {
    .search input {
        width: 8em;
    }
}

@media (max-width: 380px) {
    header {
        display: block;
    }
    .search input {
        width: 8em;
    }
}

@media (max-width: 180px) {
    .search input {
        width: 5em;
    }
}
