header {
    background: #6200EE;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}

button {
    background: #2A913E;
    padding: 1px 35px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: bold;
}

.search {
    display: flex;
}

.search input {
    width: 13em;
    margin-right: 5px;
}

.map {
    background: gray;
    height: calc(100vh - 48px);
    width: 100vw;
}