.map {
    background: gray;
    height: calc(100vh - 48px);
    width: 100vw;
}

.leaflet-container {
    height: 100%;
}


@media (max-width: 500px) {
    .map {
        height: calc(100vh - 100px);
    }
}
